<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"  th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <title>Donate</title>
</head>
<body>
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Donate</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <a class="btn btn-info btn-block" href="https://www.money.yandex.ru/to/4100110485677854">Яндекс.Деньги</a>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <a class="btn btn-info btn-block" href="https://www.qiwi.com/n/tishtech">QIWI Кошелек</a>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <a class="btn btn-info btn-block" href="https://www.paypal.me/tishtech">PayPal</a>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <a class="btn btn-info btn-block" href="#">WMP135210888268</a>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <a class="btn btn-light btn-block" th:href="@{/contact}">Contact us</a>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div>
            <a style="color: black; font-size: 300%" th:href="@{/}"><i class="fas fa-home"></i></a>
        </div>
    </div>
</div>
</body>
</html>