<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"  th:href="@{/static/css/bootstrap.css}">
    <title>Home</title>
</head>
<body class="h-100">
<div class="container h-100">
    <br>
    <br>
    <br>
    <div class="row h-25 justify-content-center">
        <h1 style="font-size: 300%">WELCOME TO DEVELOPER HELPER!</h1>
    </div>
    <div class="row h-50 justify-content-center align-items-center">
        <div class="col-8 col-md-6 col-lg-4">
            <a class="btn btn-primary btn-block" th:href="@{/login}">Sign in or Sign up</a>
            <br>
            <br>
            <a class="btn btn-success btn-block" th:href="@{/doc}">Get started</a>
        </div>
    </div>
</div>
</body>
</html>