<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"  th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <title>Login</title>
</head>
<body class="h-100">
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-5 col-md-4 col-lg-3">
            <div style="color: red" class="text-center" th:if="${param.error}">
                <h3>Invalid username or password</h3>
            </div>
            <div style="color: blue" class="text-center" th:if="${param.logout}">
                <h3>You have been logged out</h3>
            </div>
            <div style="color: blue" class="text-center">
                <h3 th:text="${activationResult}"></h3>
            </div>
            <div style="color: blue" class="text-center">
                <h3 th:text="${createNewPasswordResult}"></h3>
            </div>
            <div style="color: blue" class="text-center">
                <h3 th:text="${checkYourEmail}"></h3>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="text-center">
                    <h1>Sign in</h1>
                </div>
                <br>
                <div class="form-group">
                    <b><label for="username">Username or email</label></b>
                    <input class="form-control" id="username" type="text" name="username"/>
                </div>
                <div class="form-group">
                    <b><label for="password">Password</label></b>
                    <input class="form-control" id="password" type="password" name="password"/>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                <br>
                <a class="btn btn-success btn-block" th:href="@{/registration}">Sign up</a>
                <br>
                <a class="btn btn-warning btn-block" th:href="@{/password/forgot}">Forgot password</a>
                <br>
                <a class="btn btn-light btn-block" th:href="@{/contact}">Contact us</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>