<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"  th:href="@{/static/css/bootstrap.css}">
    <title>Login Page</title>
</head>
<body class="h-100">
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div th:if="${param.error}">Invalid username and password.</div>
        <div th:if="${param.logout}">You have been logged out.</div>
        <h2 th:text="${activationResult}"></h2>
        <div class="col-5 col-md-4 col-lg-3">
            <form th:action="@{/login}" method="post">
                <div class="text-center">
                    <h1>Sign in</h1>
                </div>
                <br>
                <div class="form-group">
                    <b><label for="username">Username</label></b>
                    <input class="form-control" id="username" type="text" name="username" placeholder="Enter username"/>
                </div>
                <div class="form-group">
                    <b><label for="password">Password</label></b>
                    <input class="form-control" id="password" type="password" name="password" placeholder="Enter password"/>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                <div class="text-center">
                    <h1>or</h1>
                </div>
                <a class="btn btn-success btn-block" th:href="@{/registration}">Create account</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>