<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>
<body>
<form th:action="@{/}" method="post">
    <input type="text" name="projectName" placeholder="projectName">
    <input type="text" name="groupId" placeholder="groupId">
    <input type="text" name="model" placeholder="Model">
    <input type="text" name="name1" placeholder="name1">
    <input type="text" name="type1" placeholder="type1">
    <input type="text" name="name2" placeholder="name2">
    <input type="text" name="type2" placeholder="type2">
    <input type="submit" value="Generate!">
</form>
</body>
</html>