<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>
<body>
<form th:action="@{/generator}" th:object="${project}" method="post">
    <table border="0">
        <tr>
            <th>ProjectName</th>
            <td><input type="text" th:field="*{name}" placeholder="for example, myproject"></td>
            <td style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <th>GroupId</th>
            <td><input type="text" th:field="*{groupId}" placeholder="for example, com.mysite"></td>
            <td style="color: red" th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"></td>
        </tr>
        <tr>
            <th>Model</th>
            <td><input type="text" th:field="*{model}" placeholder="for example, user"></td>
            <td style="color: red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></td>
        </tr>
    </table>
    <h4>Variables:</h4>
    <button type="submit" name="addVariable">Add Variable</button>
    <br>
    <br>
    <table>
        <tr th:each="variable, variableStat : *{variables}">
            <td>
                <select th:field="*{variables[__${variableStat.index}__].type}">
                    <option th:each="variableType : ${variableTypes}"
                            th:value="${variableType}"
                            th:text="${variableType}">
                    </option>
                </select>
            </td>
            <td><input type="text" th:field="*{variables[__${variableStat.index}__].name}" placeholder="Enter name"></td>
            <td>
                <button type="submit" name="removeVariable" th:value="${variableStat.index}">Remove Variable</button>
            </td>
        </tr>
    </table>
    <br>
    <button type="submit">Generate!</button>
</form>
</body>
</html>