<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"  th:href="@{/static/css/bootstrap.css}">
    <title>Change username</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{'/user/' + ${user.id} + '/project'}">TishTech</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-primary mr-2" th:href="@{'/user/' + ${user.id} + '/project/add'}">Create project</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" th:href="@{/doc}">Get started</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <a style="color: white" class="mr-2" th:href="@{'/user/' + ${user.id} + '/profile'}" th:text="${user.username}"></a>
            <a class="btn btn-warning mr-2" th:href="@{/donate}">Donate</a>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Sign out</button>
        </form>
    </div>
</nav>
<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Change username</h1>
        </div>
    </div>
    <br>
    <br>
    <form th:action="@{'/user/' + ${user.id} + '/profile/username'}" method="post">
        <div class="row justify-content-center">
            <div class="col-4">
                <ul>
                    <li style="color: red" th:each="usernameError : ${usernameErrors}" th:text="${usernameError}"></li>
                </ul>
                <div class="form-group">
                    <b><label for="username">Username</label></b>
                    <input class="form-control" id="username" type="text" name="username" th:value="${user.username}">
                </div>
                <br>
                <button class="btn btn-primary btn-block" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>