<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"  th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/all.css" th:href="@{/static/css/all.css}">
    <title>Profile</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{'/user/' + ${user.id} + '/project'}">TishTech</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-primary mr-2" th:href="@{'/user/' + ${user.id} + '/project/add'}">Create project</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" th:href="@{/doc}">Get started</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <a style="color: white" class="mr-2" th:href="@{'/user/' + ${user.id} + '/profile'}" th:text="${user.username}"></a>
            <a class="btn btn-warning mr-2" th:href="@{/donate}">Donate</a>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Sign out</button>
        </form>
    </div>
</nav>
<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Profile</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col border"><b>Username</b></div>
        <div class="col border"><b>Email</b></div>
    </div>
    <br>
    <div class="row">
        <div class="col border" th:text="${user.username}"></div>
        <div class="col border" th:text="${user.email}"></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-success btn-block" th:href="@{'/user/' + ${user.id} + '/profile/editpassword'}">Change password</a>
        </div>
        <div class="col">
            <a class="btn btn-warning btn-block" th:href="@{'/user/' + ${user.id} + '/profile/edit'}">Edit profile</a>
        </div>
        <div class="col">
            <a class="btn btn-danger btn-block" th:href="@{'/user/' + ${user.id} + '/profile/delete'}">Delete profile</a>
        </div>
    </div>
</div>
</body>
</html>