<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"  th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <title>Create project</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{'/user/' + ${user.id} + '/project'}">TishTech</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-primary mr-2" th:href="@{'/user/' + ${user.id} + '/project/add'}">Create project</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" th:href="@{/doc}">Get started</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <a style="color: white" class="mr-2" th:href="@{'/user/' + ${user.id} + '/profile'}" th:text="${user.username}"></a>
            <a class="btn btn-warning mr-2" th:href="@{/donate}">Donate</a>
            <button class="btn btn-danger mr-2 my-sm-0" type="submit">Sign out</button>
            <a class="btn btn-light mr-2" th:href="@{/contact}">Contact us</a>
        </form>
    </div>
</nav>
<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Create project</h1>
        </div>
    </div>
    <br>
    <form th:action="@{'/user/' + ${user.id} + '/project'}" th:object="${project}" method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <b><label for="name">Name</label></b>
                    <input class="form-control" id="name" type="text" th:field="*{name}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <b><label for="groupId">Group Id</label></b>
                    <input class="form-control" id="groupId" type="text" th:field="*{groupId}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <b><label for="model">Model</label></b>
                    <input class="form-control" id="model" type="text" th:field="*{model}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b>Variables:</b>
                <button style="width: 10%" class="btn btn-primary" type="submit" name="addVariable"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <br>
        <div class="form-group" th:each="variable, variableStat : ${project.variables}">
            <div class="row">
                <div class="col-4">
                    <input class="form-control" type="text" th:field="*{variables[__${variableStat.index}__].type}" placeholder="Enter type">
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" th:field="*{variables[__${variableStat.index}__].name}" placeholder="Enter name">
                </div>
                <div class="col">
                    <button style="width: 50%" class="btn btn-danger" type="submit" name="removeVariable" th:value="${variableStat.index}"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button class="btn btn-success btn-block" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>