<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Sign up</h1>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <ul>
            <li style="color: red" th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
        </ul>
        <ul th:if="${zeroElementHasSize}">
            <li style="color: red" th:each="validationError : ${validationErrors}" th:text="${validationError}"></li>
        </ul>
        <table>
            <tr>
                <td><input type="text" th:field="*{username}" placeholder="Username"/></td>
            </tr>
            <tr>
                <td><input type="text" th:field="*{email}" placeholder="Email"/></td>
            </tr>
            <tr>
                <td><input type="password" th:field="*{password}" placeholder="Password"/></td>
            </tr>
            <tr>
                <td><input type="password" name="confirmPassword" placeholder="Confirm password"/></td>
            </tr>
        </table>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>